In [1]:
#####ASSIGNMENT 1 LIST

In [2]:
#write a program to interchange first and last elements in a list.
my_list=[10,20,30,40,50,60]
print(my_list)
#interchange first and last element
my_list[0],my_list[-1]=my_list[-1],my_list[0]
print (my_list)

[10, 20, 30, 40, 50, 60]
[60, 20, 30, 40, 50, 10]

In [3]:
#2 program to swap two element in a list.
a=[56,25,78,26]
#swap
a[0],a[2]=a[2],a[0]
print(a)

[78, 25, 56, 26]

In [4]:
# 3 swap element in string list.
list_str=["english","good","is"]
#swap string list
list_str[1],list_str[2]=list_str[2],list_str[1]
print(list_str)

['english', 'is', 'good']

In [5]:
#4 ways to find length of list
x=[6,8,9,3,6,8,4]
length=len(x)
print(length)

7

In [6]:
# 5 maximum of two numbers in python.
x=max(50,80)
print(x)

80

In [7]:
# 6 minimum of two number in python.
num1=50
num2=80
num=min(50,80)
print(num)

50

In [8]:
#7 ways to check if element exists in list.
thislist=["apple","banana","cherry"]
if "apple" in thislist:
    print("apple" in thislist)
else:
    print("apple" in thislist)

True

In [9]:
#8 different ways to  clear  a list in python.
list=["a","b","c","d"]
list.clear()
print(list)

[]

In [10]:
#9 reversing list
fruits=["kiwi","apple","banana"]
fruits.reverse()
print(fruits)

['banana', 'apple', 'kiwi']

In [11]:
#10 cloning or copying list.
fruits=["cherry","mango","apple"]
x=fruits.copy()
print(x)

['cherry', 'mango', 'apple']

In [12]:
#11 count occurence of an element in alist.
list=["ram","shyam","radha"]
list.count("radha")

1

In [13]:
#12 program to find sum and average  of list in a python.
number=[10,20,30,40,50]
total_sum=sum(number)
average=total_sum/len(number)
print(total_sum)
print(average)

150
30.0

In [14]:
#13 sum of number digits in list.
list =[528,852,654,258]
x=sum(list)
print(x)

2292

In [15]:
#14 multiply all number in the list.
x=8
y=7
print(x*y)

56

In [16]:
#15 program to find smallest number in a list.
x=[5,3,7,6,8,9,1]
list=min(x)
print(list)

1

In [17]:
#16 program to find largest number in a list.
list1=[9,8,10,11,12,5,6]
y=max(list1)
print(y)

12

In [18]:
#17 program to find second largest  number in a list.
def find_second_largest(Mak2001):
    return sorted(set(Mak2001))[-2]
   
    Mak2001=[1,2,3,4,5]
    print(find_second_largest(mak2001))

In [19]:
#18 program to print even number
even=[1,2,3,4,5,6,7,8,9]
for val in even:
    #check if a number is divisible by 2 (i.e.,even).
    if val % 2==0:
        print(val)

2
4
6
8

In [20]:
#19 program to print odd number:
odd=[1,2,3,4,5,6,7,8,9]
for val1 in odd:

    if val1 % 2 !=0:
        print(val1)

1
3
5
7
9

In [22]:
#20 program to print all even number in a range.
start=int(input("enter the start of range:"))
end=int(input("enter the end of range:"))
#iterating each number in list
for x in range(start,end):
    #checking condition
    if x % 2 == 0:
      print(x,)

enter the start of range: 2
enter the end of range: 20

2
4
6
8
10
12
14
16
18

In [23]:
#21 program to print all odd number in a range.
start=int(input("enter the start of range:"))
end=int(input("enter the end of range:"))

#iteracting each number in list
for x in range(start,end):
    #checking condition
    if x % 2!=0:
        print(x,)

enter the start of range: 4
enter the end of range: 10

5
7
9

In [24]:
#22 program to  count even and odd numbers in alist
list2=[85,80,90,95,96,13,15,2]
even_count,odd_count=0,0
#iteracting each number in list
for x in list2:
    #checking condition
    if x % 2 ==0:
        even_count +=1
    else:
        odd_count +=1
        print("even numbers in the list:",even_count)
        print("odd numbers in the list:",odd_count)

even numbers in the list: 0
odd numbers in the list: 1
even numbers in the list: 2
odd numbers in the list: 2
even numbers in the list: 3
odd numbers in the list: 3
even numbers in the list: 3
odd numbers in the list: 4

In [25]:
#23 program to print positive  numbers in a list
list_this=[1,2,3,4,5,-6,7,8,-9]
for num in list_this:
    if num>=0:
        print(num,end=" ")

1 2 3 4 5 7 8

In [26]:
#24 program to print negative number in a list.
this_list=[1,2,-3,4,-5,6,-7,8,9]
#iteracting each number in list
for x in this_list:
    #checking condition
    if x < 0:
        print(x,end=" ")

-3 -5 -7

In [ ]:
## 25 program to print all positive numbers in a  range.
start=int(input("enter the start of range:"))
end=int(input("enter the start of range:"))
#iteracting each number in  list
for x in range(start,end):
    #checking condition
    if x >=0:
        print(x,end =" ")

enter the start of range: 4

In [1]:
#26 program to print all negative number in a range.
start=int(input("enter the start of range:"))
end=int(input("enter the end of range:"))
        #iteracting each number in list
for num in range(start,end):
    #checking condition
    if num < 0:
        print(num,end=" ")

enter the start of range: -3
enter the end of range: 2

-3 -2 -1

In [26]:
#27 program to count positive and negative numbers in a list.
l=[30,35,-67,8,9,90,-33]
positive_number,negative_number=0, 0
#iteracting each number in list
for  x in l:
    #checking condition
    if x >=0:
        positive_number +=1
    else:
        negative_number +=1

print("Positive numbers in this list:",positive_number)
print("negative numbers in this list:",negative_number)

Positive numbers in this list: 5
negative numbers in this list: 2

In [28]:
#28 remove multiple elements from list in pyhton
shr2001=[1,2,3,4,5]
del shr2001[1:4]
print(shr2001)

[1, 5]

In [30]:
#29 remove empty tuples from a list.
shr2001=[1,(),3,(),5,6]
res=list(filter(None,shr2001))
print(str(res))

[1, 3, 5, 6]

In [31]:
#30 program to print duplicates from alist of integers
def Repeat(x):
    _size=len(x)
    repeated=[]
    for i in range(_size):
        k=i +1
        for j in range (k,_size):
          if x[i] ==x[j] and x[i] not in repeated:
            repeated.append(x[i])
    return repeated
list1=[10,12,34,5,6,7,7,]
print(Repeat(list1))

[7]