In [3]:
import pandas as pd
import numpy as np

In [4]:
#load the Iris dataset
df=pd.read_csv("IRIS.csv")
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [5]:
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
sub_df = df[['sepal_length','sepal_width','petal_length','petal_width','species']]
sub_df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [8]:
#1.cental tendency :without directly calculating the mean,determine which sepal measurement(sepal_length,sepal_width)has a higher average by observing the dataset.

In [9]:
sub_df.describe()
#sepal_length has higher average because sepal_length has higher mean than the sepal_width.

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [10]:
#2.dispersion:compare the variability of petal measurements by checking the difference between the range of petal_length and petal_width which feature shown more sperad??

In [11]:
range1=sub_df['petal_length'].max()-sub_df['petal_width'].min()
range1

6.800000000000001

In [12]:
range2=sub_df['petal_width'].max()-sub_df['petal_width'].min()
range2

2.4

In [13]:
#3.quartiles:identify which features,sepal_length or sepal_width,has a higher interquartile range(IQR),indicating greater variability in the middle 50% of the data.

In [14]:
IQR1=sub_df['sepal_length'].quantile(0.75)-sub_df['sepal_length'].quantile(0.25)
IQR1

1.3000000000000007

In [15]:
IQR2=sub_df['sepal_width'].quantile(0.75)-sub_df['sepal_width'].quantile(0.25)
IQR2

0.5

In [16]:
#IQR 1 has the greater variability.so ,sepal_length has more variability.

In [17]:
#4.stanadard deviation:insight based on the computer standard deviation of sepal_length and sepal_width,determine  which attribute exhibits more variablity and discuss what this indicates about the consistency of the two features

In [18]:
std1=sub_df['sepal_width'].std()
std1

0.4335943113621737

In [19]:
std2=sub_df['sepal_length'].std()
std2

0.8280661279778629

In [20]:
#sepal length has more standard deviation which means sepal_length data set has more variability but less consistency and sepal_width has less

In [21]:
#5.shape of distribution without plotting ,assess without the petal_length distribution is akewed.use a descriptive statistic that measures skewness and infer the distribution shape.

In [22]:
mean=sub_df['petal_length'].mean()
mean

3.758666666666666

In [24]:
median=sub_df['petal_length'].median()
median

4.35

In [ ]:
skew=sub_df['petal_length'].skew()
skew

In [ ]:
# the data  of petal_length is left skewed because mean of petal length is less than the median.

In [ ]:
#6.symmetry: for which attribute,sepal_length or sepal_width,is the skewness  closer to zero? what does this imply  about the symmetry of its distribution?

In [ ]:
mean=sub_df['sepal_length'].mean()
mean

In [ ]:
median=sub_df['sepal_length'].medain()
median

In [ ]:
skew=sub_df['sepal_length'].skew()
skew

In [ ]:
mean2=sub_df['sepal_length'].mean2()
mean2

In [ ]:
median2=sub_df['sepal_length'].median()
median

In [ ]:
skew2=sub_df['sepal_length'].skew()
skew

In [ ]:
#both sepal_length and sepal_width are right skewed data and both attribute has not skewneess which is closer to zero.

In [ ]:
#7.coefficient of variation:calculate the coefficient of variatoion(cv) for sepal_length and petal_length which feature has greater relative variability,and what does this tell you about the dataset?

In [ ]:
#calculate cv of petal_length

In [ ]:
cv=sub_df['petal_length'].std()/sub_df['petal_length'].mean()*100
cv

In [ ]:
#petal_length has greater relative variability has it has higher cv than sepal_length which meaan it has a greater variation but less consistency.

In [ ]:
#8.outer detection  using IQR identify the outlier in the sepal_length feature using the  IQR method(define outliers as value that fall below q1-1.5*IQR or above q3+1.5*IQR).how many outliers are present?

In [ ]:
se_iqr=sub_df['sepal_length'].quantile(0.75)-sub_df['sepal_length'].quantile(0.25)
se_iqr

In [ ]:
upper_fence=sub_df['sepal_length'].quantile(0.75)+1.5*se_iqr
upper_fance

In [ ]:
lower_fence=sub-df['sepal_length'].quantile(0.25)-1.5*se-iqr
lower_fence

In [ ]:
outlier=sub_df[(sub_df['sepal_length'] >upper_fence)|
        (sub_df['sepal_length'] < lower_fence)]
print("outlier rows:")
print(outlier)

In [ ]:
numoutlier=outlier.shape[0]
print("number of outlier:",numoutlier)